/* --- General --- */

body {
  background: #d5d0ce url(../i/hash-bg.png);
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .3em;
  line-height: 1;
}
h1, h2 {
  color: #7c9250;
  font-weight: normal;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
ul {
  padding-left: 10px;
  list-style-type: none;
  margin: 0 0 1.5em;
}
p, li {
  margin: 0 0 .75em;
}
li {
  padding-left: 8px;
  background: url(../i/bullet.png) left center no-repeat;
}
label {
  display: block;
  line-height: 1;
  margin-bottom: 3px;
}
input[type="text"], textarea {
  width: 95%;
  font-size: 14px;
  padding: 4px;
}
input[type="text"], input[type="submit"], textarea {
  margin-bottom: 12px;
}
.ie6 input, .ie6 textarea {
  width: 204px;
  margin-bottom: 12px;
}
textarea {
  resize: none;
}
small {
  font-size: 11px;
}


/* --- Helper Classes --- */

.align-right {
  text-align: right;
}
.btn {
  color: white;
  padding: 9px 14px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
    border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.35);
   -moz-box-shadow: 0 1px 0 rgba(0,0,0,.35);
    box-shadow: 0 1px 0 rgba(0,0,0,.35);
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  border: 1px solid #4181a1;
  border-top: 1px solid #316179;
  border-bottom: 1px solid #4181a1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#9bbdce), to(#3a7491));
  background: -moz-linear-gradient(top, #9bbdce, #3a7491);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#9bbdce, endColorStr=#3a7491);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#9bbdce, endColorStr=#3a7491);
  display:inline-block; /* IE */
}
.ie6 .btn {
  width: auto;
}
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.lead {
  font-size: 26px;
}
.stripe {
  color: white;
  margin-bottom: 0;
  padding: 9px 10px;
  text-transform: uppercase;
  background: #3d6376;
}


/* --- Nav Bar --- */

#header .navbar {
  padding-top: 24px;
}
.navbar {
  list-style-type: none;
}
.navbar .nav {
  line-height: 1;
  padding: 11px 0;
}
.navbar li {
  float: left;
  background: none;
  padding: 0 18px;
  margin: 0;
}
.navbar li.first {
  padding-left: 10px;
  border-left: 0;
}
.navbar li.last {
  text-indent: -9999px;
  width: 1px;
  padding: 0;
  border-right: 0;
}
.navbar a, .navbar a:hover {
  text-decoration: none;
}


/* --- Containers --- */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main {
  background: white;
  padding-top: 11px;
  padding-bottom: 35px;
}
.main .section {
  float: left;
}
.section .border {
  display: none;
}
#content {
  font-size: 14px;
  line-height: 21px;
  width: 440px;
  padding: 10px 20px;
}
#content p {
  margin-bottom: 1.5em;
}
.sidebar {
  width: 230px;
}
.sidebar {
  background: #4181a1;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.sidebar, .sidebar a {
  color: white;
}
.alt-sidebar {
  background: #5b712f;
}
.alt-sidebar .sidebar-inner {
  padding-bottom: 30px;
}
.alt-sidebar .stripe {
  background: #566537;
}
.sidebar-inner {
  padding: 10px;
}